<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky bg-custom">
  <a class="navbar-brand" href="#">
    <img src="../../../favicon.ico" width="35">
  </a>
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/patients">Patients</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/caregivers">Caregivers</a>
    </li>
    <li class="nav-item"  routerLinkActive="active">
      <a class="nav-link" routerLink="/doctors">Doctors</a>

  </ul>

</nav>
