<div class ="patients-container">
  <div class = "card">
    <div class="patients-header">
      <h2 class="text-rig">Patients</h2>
      <button class="btn-base btn-green" >+</button>
    </div>
    <div class = "card-body">
      <table class="table table-striped">
        <thead>
        <th>Id</th>
        <th> First Name</th>
        <th> Last Name</th>
        <th> Email </th>
        <th> Medication </th>
        <th> Actions </th>
        </thead>
        <tbody>
        <tr *ngFor = "let patient of patients">
          <td> {{ patient.id}}</td>
          <td> {{ patient.first_name}}</td>
          <td> {{ patient.last_name}}</td>
          <td> {{ patient.email}}</td>
          <td> {{ patient.medication}}</td>
          <td>
            <button class="btn fa fa-trash"  (click)="deletePatient(patient.id.toString())">
            <i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
