<div class ="doctor-container">
  <div class = "card">
    <div class="doctor-header">
      <h2 class="text-rig">Doctors</h2>
      <button class="btn-base btn-green" >+</button>
    </div>
    <div class = "card-body">
      <table class="table table-striped">
        <thead>
        <th>Id</th>
        <th> First Name</th>
        <th> Last Name</th>
        <th> Email </th>
        <th> Actions </th>
        </thead>
        <tbody>
        <tr *ngFor = "let doctor of doctors">
          <td> {{ doctor.id}}</td>
          <td> {{ doctor.first_name}}</td>
          <td> {{ doctor.last_name}}</td>
          <td> {{ doctor.email}}</td>
          <td>
            <button class="btn fa fa-trash"  (click)="deleteDoctor(doctor.id.toString())">
              <i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
