<div class ="caregivers-container">
  <div class = "card">
    <div class="caregivers-header">
      <h2 class="text-rig">Caregivers</h2>
      <button class="btn-base btn-green" >+</button>
    </div>
    <div class = "card-body">
      <table class="table table-striped">
        <thead>
        <th>Id</th>
        <th> First Name</th>
        <th> Last Name</th>
        <th> Email </th>
        <th> Actions </th>
        </thead>
        <tbody>
        <tr *ngFor = "let caregiver of caregivers">
          <td> {{ caregiver.id}}</td>
          <td> {{ caregiver.first_name}}</td>
          <td> {{ caregiver.last_name}}</td>
          <td> {{ caregiver.email}}</td>
          <td>
            <button class="btn fa fa-trash"  (click)="deleteCaregiver(caregiver.id.toString())">
              <i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
