.caregivers-container{
  margin-top: 4%;
  min-height: 85.5vh;
  background-color: #fff;
  color: #000;
}

table{
  width: 100%;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.caregivers-header{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  position: relative;
}

.caregivers-header button{
  background-color: rgba(0,0,0,0);
  margin: 0;
  padding: 0;
  border: none;
  font-size: 4rem;
  color: #52B680;
  position: absolute;
  top: -35px;
  left: 55%;
}

.caregivers-header button:hover{
  color: #3335FF;
  background-color: rgba(0,0,0,0);
  border: none;
}

.caregivers-header button:active{
  color: #3335FF;
  background-color: rgba(0,0,0,0);
  border: none;
  margin: 0;
  padding: 0;
}
